.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper {
  width: 750px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(235, 230, 230); */
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

#quote-box .quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

#quote-box .quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

#quote-text .buttons {
  /* display: flex; */
  flex-direction: row;
  
}


.buttons > span > a, .buttons > span > Button {
  border: 0;
}
.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
/* 
.buttons a {
  padding: 0.5rem;
  background-color: rgb(0, 255, 106);
} */

.buttons > span {
  display: flex;
  gap: 0.5rem;
}

.buttons > span:first-of-type > a  {
  width: fit-content;
  padding: 0.6em 1.2em;
}


